openapi: 3.2.0
info:
  title: Xiaomi MiMo AI Models API
  description: The Xiaomi MiMo AI API provides OpenAI-compatible access to Xiaomi's MiMo large language model family. Supports chat completions with reasoning, coding, multimodal, and text-to-speech model variants. Compatible with OpenAI SDKs and standard tooling.
  version: 1.0.0
  contact:
    name: Xiaomi MiMo Developer
    url: https://platform.xiaomimimo.com/
servers:
- url: https://api.xiaomimimo.com
  description: Xiaomi MiMo AI API
security:
- apiKeyAuth: []
tags:
- name: Models
paths:
  /v1/models:
    get:
      operationId: listModels
      summary: List Models
      description: Returns a list of available MiMo AI models with their IDs and capabilities.
      tags:
      - Models
      responses:
        '200':
          description: List of available models.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelList'
        '401':
          description: Unauthorized. Invalid API key.
components:
  schemas:
    ModelList:
      type: object
      properties:
        object:
          type: string
          example: list
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Model identifier.
              object:
                type: string
                example: model
              created:
                type: integer
              owned_by:
                type: string
                example: xiaomi
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: api-key
      description: API key obtained from the Xiaomi MiMo console.
